@{
    ViewData["Title"] = "Home Page";
    string name = ViewBag.UserName ?? "";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <h1>Chào mừng @name đến vơi hệ thống quản lý karaoke</h1>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-2">
                    <a href="thanh-toan-karaoke.html">
                        <button type="button" class="btn btn-block btn-primary btn-md">Thanh Toán Phòng</button>
                    </a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
</div>