.images {
    width: 130px;
    height: 150px;
    position: relative;
}

    .images img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.nav-tabs {
    border-bottom: none;
}

.tab-item {
    margin-right: 50px;
    font-size: 18px;
    color: black;
}

.active {
    color: red;
}
.btn-thanh-toan{
    margin-top:15px;
}
.vi-dien-tu-img {
    width: 200px;
    height: 200px;    
}
.vi-dien-tu-img:hover {
    cursor: pointer;
}