<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\KaraokePayment.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" >
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <appSettings>
    <!--VNPAY SETTINGS-->
    <!--<add key="vnp_Url" value="http://localhost:2233/vpcpay.html"/>-->
    <add key="vnp_Url" value="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"/>
    <add key="querydr" value="http://sandbox.vnpayment.vn/merchant_webapi/merchant.html"/>
    <add key="vnp_TmnCode" value="W07Y4LVZ"/>
    <add key="vnp_HashSecret" value="ZSYBCCKTUOMWNNESZMQBNCPKVDPFDOEK"/>
    <add key="vnp_Returnurl" value="https://karaokepayment.local/ThanhToanKaraoke/ThanhToanPhongKaraoke"/>
  </appSettings>
</configuration>
<!--ProjectGuid: b126396c-4d11-4cef-8411-534a6110766d-->