@model IEnumerable<KaraokePayment.Data.Entity.BookPhongOrderPhong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <!-- ds phòng -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-11">
                                    <h3 class="card-title" style="font-size:20px">Lỗi xảy ra!</h3>
                                </div>
                                <div class="col-md-1">
                                    <a asp-action="Create" class="btn btn-default"></a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <h1 style="color:red">Thêm hàng hóa thất bại!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
